{% extends 'base.html' %}

<!-- Use the crispy-forms extension -->
{% block content %}
<div class="container-fluid">
    <div class="col-md-6 col-sm-10 justify-content-center">
        <h1 class="page-header display-2">SmartFolio</h1>
        <p class="mt-2 lead">Show off your best projects!</p>
        <div class="row-cols-auto justify-content-center">
            <a href="account/login.html">Login</a>
        </div>
        <div class="row-cols-auto justify-content-center">
            <a href="account/register.html">Register</a>
        </div>
    </div>
</div>

{% endblock %}